#title {
  background-color: #00204a;
  padding-bottom: unset;
}

body {
  font-family: "Montserrat";
}

hr {
  border-style: solid;
}

h2, h3 {
  color: #3282b8;
  font-family: "Merriweather";
  text-align: left;
  font-weight: 800;
  padding: 7%;
}

.container-fluid {
  padding: 3% 7%;
}

.navbar {
  padding-left: 7%;
  padding-right: 7%;
}

.navbar-brand {
  font-family: "Audiowide";
  font-weight: bold;
  font-size: 3rem;
}

.nav-item {
  padding-right: 7%;
  padding-left: 0px;
}

#posts-body {
  background-color: #d9faff;
  padding: 7%;
  line-height: 2rem;
}

.new{
  width: 13%;
}

.post-list {
  text-align: center;
}

.card-img-top:hover {
  opacity: 0.3;
}

.body-fit {
  height: 100%;
}

a {
  color: #8785a2;
  font-weight: 800;
}

.side-section{
  background-color: white;
  border-radius: 3%;
  padding-bottom: 5%;
}

.soon-gif {
  text-align: center;
}

/* Footer Section */

#footer {
  text-align: center;
  background-color: #d9faff;
  color: gray;
}

.social-icon {
  margin: 20px 10px;
}

.social-icon:hover {
  color: #3282b8;
}

.back-to-top {
  color: gray;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
